Zabbix - Triggery 24h (event.get).json
{
  "name": "Zabbix - Triggery 24h (event.get)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        704,
        96
      ],
      "id": "8c8472c0-0349-4996-8dbb-a2433c6ef9ea",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "fromEmail": "arek@grupadm.pl",
        "toEmail": "arek@asdevops.pl",
        "subject": "=Raport z Zabbixa",
        "html": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2144,
        96
      ],
      "id": "693f98dd-ca10-489c-be0b-f910995fd466",
      "name": "Send Email",
      "webhookId": "ed610289-c036-467f-99bc-2ee8cfe844d2",
      "credentials": {
        "smtp": {
          "id": "0YOX8LCwu0tPNltm",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const events = items[0]?.json?.result ?? [];\n\nconst priorityMap = {\n  0: 'Not classified',\n  1: 'Information',\n  2: 'Warning',\n  3: 'Average',\n  4: 'High',\n  5: 'Disaster',\n};\n\nfunction esc(v) {\n  return String(v ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n}\n\nlet html = `<h2>Raport Zabbix – triggery z ostatnich 24h</h2>`;\n\nif (!events.length) {\n  html += `<p>Brak zdarzeń trigger (event.get) w ostatnich 24 godzinach.</p>`;\n  return [{ json: { html } }];\n}\n\nhtml += `\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;font-family:Arial,sans-serif;font-size:13px\">\n  <tr>\n    <th>Czas</th>\n    <th>Host</th>\n    <th>Trigger</th>\n    <th>Severity</th>\n    <th>Status</th>\n    <th>EventID</th>\n  </tr>\n`;\n\nfor (const e of events) {\n  const dt = e.clock ? new Date(Number(e.clock) * 1000).toLocaleString('pl-PL') : '';\n  const host = (e.hosts?.[0]?.name || e.hosts?.[0]?.host || '');\n  const ro = e.relatedObject ?? null; // trigger details from selectRelatedObject\n  const trigger = ro?.description || ro?.name || e.name || '(brak nazwy)';\n  const pr = ro?.priority ?? '';\n  const sev = (pr !== '' && pr !== null && pr !== undefined) ? (priorityMap[Number(pr)] ?? pr) : '';\n  const status = (String(e.value) === '1') ? 'PROBLEM' : 'OK';\n\n  html += `\n    <tr>\n      <td>${esc(dt)}</td>\n      <td>${esc(host)}</td>\n      <td>${esc(trigger)}</td>\n      <td>${esc(sev)}</td>\n      <td>${esc(status)}</td>\n      <td>${esc(e.eventid)}</td>\n    </tr>\n  `;\n}\n\nhtml += `</table>`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        96
      ],
      "id": "825f3daf-4d98-4d62-a4d3-11f3ac4dda33",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=Twoim zadaniem jest stworzenie podsumowania HTML z raportem z Zabbixa. Tu masz wszystkie triggery jakie zostały uruchomione w Zabbixie w ostatnich 24h: \n{{ $json.html }}\n\nZrób treściwe podsumowanie i opisz w maksymalnie 240 znakach na co warto zwrócić uwagę. \n\nNastępnie przygotuj kroki, które powinienem wykonać w pierwszej kolejnosci, by rozwiązać główne problemy.\n\nZwróć gotowy HTML jako tekst (bez JSON)"
            }
          ]
        },
        "options": {}
      },
      "id": "3a96ce23-260f-4f4c-92b1-cd6f65a66c4b",
      "name": "Podsumowanie AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1712,
        96
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "7nKslAA3XKBSsgcG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.50/zabbix/api_jsonrpc.php",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json-rpc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"event.get\",\n    \"params\": {\n      \"source\": 0,\n      \"object\": 0,\n      \"selectHosts\": [\"name\", \"host\"],\n      \"selectRelatedObject\": [\"description\", \"priority\"],\n      \"sortfield\": [\"clock\"],\n      \"sortorder\": \"DESC\",\n      \"limit\": 1000\n    },\n    \"id\": 2\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        -64
      ],
      "id": "8dfe8c3c-c0af-4c36-a17f-5b0d36470f98",
      "name": "Zdarzenia",
      "credentials": {
        "httpBearerAuth": {
          "id": "Lcf7s2iT7ZkZjH8m",
          "name": "Zabbix"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Zdarzenia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Podsumowanie AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        []
      ]
    },
    "Podsumowanie AI": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zdarzenia": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "88e05681-f290-4411-8af3-5dbabd45c5f1",
  "meta": {
    "instanceId": "eafe2bbd986238e59814b283c70b7d1fbe21985157b8fc2e91846a1f8d4dd92a"
  },
  "id": "qWVL2BgPgDhYQvT8",
  "tags": []
}