Zabbix - Triggery 24h (event.get).json
{
  "name": "Zabbix - Triggery 24h (event.get)",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://<adres-IP-Twojego-zabbixa>/zabbix/api_jsonrpc.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json-rpc"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"user.login\",\n  \"params\": {\n    \"username\": \"Admin\",\n    \"password\": \"<twoje-haslo-do-zabbixa>\"\n  },\n  \"id\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        928,
        96
      ],
      "id": "3e8b8694-0d04-4ff5-9aea-f511f3413bc1",
      "name": "Zabbix Login"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://<adres-IP-Twojego-zabbixa>/zabbix/api_jsonrpc.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json-rpc"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.result }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  jsonrpc: '2.0',\n  method: 'event.get',\n  params: {\n    output: ['eventid','clock','value','name'],\n    source: 0,\n    object: 0,\n    time_from: Math.floor(Date.now() / 1000) - 86400,\n    selectHosts: ['name','host'],\n    selectRelatedObject: ['description','priority'],\n    sortfield: ['clock'],\n    sortorder: 'DESC',\n    limit: 1000\n  },\n  id: 2\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1152,
        96
      ],
      "id": "788c36f6-7c6a-44a2-ae34-2f4e97a47249",
      "name": "Zabbix API - event.get (24h)"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        704,
        96
      ],
      "id": "8c8472c0-0349-4996-8dbb-a2433c6ef9ea",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "fromEmail": "mail-do-wysylki@domena.pl",
        "toEmail": "mail-odbiorczy@domena.pl",
        "subject": "=Raport z Zabbixa",
        "html": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2144,
        96
      ],
      "id": "693f98dd-ca10-489c-be0b-f910995fd466",
      "name": "Send Email",
      "webhookId": "ed610289-c036-467f-99bc-2ee8cfe844d2",
      "credentials": {
        "smtp": {
          "id": "0YOX8LCwu0tPNltm",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const events = items[0]?.json?.result ?? [];\n\nconst priorityMap = {\n  0: 'Not classified',\n  1: 'Information',\n  2: 'Warning',\n  3: 'Average',\n  4: 'High',\n  5: 'Disaster',\n};\n\nfunction esc(v) {\n  return String(v ?? '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n}\n\nlet html = `<h2>Raport Zabbix – triggery z ostatnich 24h</h2>`;\n\nif (!events.length) {\n  html += `<p>Brak zdarzeń trigger (event.get) w ostatnich 24 godzinach.</p>`;\n  return [{ json: { html } }];\n}\n\nhtml += `\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse:collapse;font-family:Arial,sans-serif;font-size:13px\">\n  <tr>\n    <th>Czas</th>\n    <th>Host</th>\n    <th>Trigger</th>\n    <th>Severity</th>\n    <th>Status</th>\n    <th>EventID</th>\n  </tr>\n`;\n\nfor (const e of events) {\n  const dt = e.clock ? new Date(Number(e.clock) * 1000).toLocaleString('pl-PL') : '';\n  const host = (e.hosts?.[0]?.name || e.hosts?.[0]?.host || '');\n  const ro = e.relatedObject ?? null; // trigger details from selectRelatedObject\n  const trigger = ro?.description || ro?.name || e.name || '(brak nazwy)';\n  const pr = ro?.priority ?? '';\n  const sev = (pr !== '' && pr !== null && pr !== undefined) ? (priorityMap[Number(pr)] ?? pr) : '';\n  const status = (String(e.value) === '1') ? 'PROBLEM' : 'OK';\n\n  html += `\n    <tr>\n      <td>${esc(dt)}</td>\n      <td>${esc(host)}</td>\n      <td>${esc(trigger)}</td>\n      <td>${esc(sev)}</td>\n      <td>${esc(status)}</td>\n      <td>${esc(e.eventid)}</td>\n    </tr>\n  `;\n}\n\nhtml += `</table>`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        96
      ],
      "id": "825f3daf-4d98-4d62-a4d3-11f3ac4dda33",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=Twoim zadaniem jest stworzenie podsumowania HTML z raportem z Zabbixa. Tu masz wszystkie triggery jakie zostały uruchomione w Zabbixie w ostatnich 24h: \n{{ $json.html }}\n\nZrób treściwe podsumowanie i opisz w maksymalnie 240 znakach na co warto zwrócić uwagę. \n\nNastępnie przygotuj kroki, które powinienem wykonać w pierwszej kolejnosci, by rozwiązać główne problemy.\n\nZwróć gotowy HTML jako tekst (bez JSON)"
            }
          ]
        },
        "options": {}
      },
      "id": "3a96ce23-260f-4f4c-92b1-cd6f65a66c4b",
      "name": "Podsumowanie AI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1712,
        96
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "7nKslAA3XKBSsgcG",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Zabbix Login": {
      "main": [
        [
          {
            "node": "Zabbix API - event.get (24h)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Zabbix Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Podsumowanie AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zabbix API - event.get (24h)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        []
      ]
    },
    "Podsumowanie AI": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b72a589e-6691-4186-8f15-30ccd68550ed",
  "meta": {
    "instanceId": "eafe2bbd986238e59814b283c70b7d1fbe21985157b8fc2e91846a1f8d4dd92a"
  },
  "id": "qWVL2BgPgDhYQvT8",
  "tags": []
}